pymupdf
pymupdf-layout 
pymupdf4llm
fastapi 
uvicorn
python-docx
paddlepaddle
paddleocr
numpy
google-genai
python-dotenv
pandas
sentence-transformers
scikit-learn
google-generativeai
Jinja2
weasyprint
#for mac 
pango
"pipecat-ai[deepgram]"
"pipecat-ai[google]"
"pipecat-ai[webrtc]"
aiortc
python-multipart

# added for adaptive_interview
pydantic
python-dotenv

# use this version 
# python@3.12